<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- 
				<a class="navbar-brand" href="#">Tenant name</a>
			 -->
			<a class="navbar-brand" href="datasets">
<!--			<a class="navbar-brand" href="index">-->
				<% if (config.logoTenant) { %>
				<img src="assets/images/<%= config.logoTenant %>" alt="OpenRecordz">
					<!--style="max-height: 40px; max-width:100px; margin-top: -7px;"-->
				<% } %>
				<%= tenantName %>
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- <li class="active"><a href="#">Dashboard</a></li> -->
				<li class="_datasets"><a href="datasets">Datasets</a></li>
<!--				<%=isAdministrator%>-->
				<%if (username=="admin"){%>
				<li class="_users"><a href="users"><%=_label.utenti%></a></li>				
				<%}%>
				<li class="_api"><a href="http://www.openrecordz.com/documentazione/"><%=_label.documentazione%></a></li>				
				<!-- 
				<li class="_notifications"><a href="notifications.php">Notifiche</a></li>
				 -->
				
				<% //if (isAdministrator) {%>
				<!-- 
				<li class="_settings"><a href="settings.php">Impostazioni</a></li>
				<li class="_import"><a href="import.php">Import</a></li>
				<li class="_phones"><a href="phones.php">Numeri Telefono</a></li>
				<li class="_sms"><a href="sms.php">Sms</a></li>
				<li class="_settingsSms"><a href="settingsSms.php">Impostazioni Sms</a></li>
				 -->
				<% //} %>
				
				
				<!-- 
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
				 -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- <li class="active"><a href="#">Home</a></li> -->
				<%if (isAuthenticated){%>
					<li class="_dashboard"><a href="<%= dashboardDomain %>/dashboard"><%=_label.leTueApp%></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= username %> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<!--<li>
								<a href="http://<%= tenantName %>.ciaotrip.it/users/<%= username %>" target="_blank">Profilo</a>
							</li>
							<li><a href="http://<%= tenantName %>.ciaotrip.it/settings" target="_blank">Impostazioni utente</a></li>-->
							<li><a href="#logout">Logout</a></li>
						</ul>
					</li>
				<%} else {%>
					<li class="_login"><a href="#login"><%=_label.accedi%></a></li>
					<li class="_signup"><a href="<%= dashboardDomain %>/dashboard#signup"><%=_label.registrati%></a></li>
				<%}%>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>




