<nav class="navbar navbar-default">
   <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">


      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <!-- <a class="navbar-brand" href="#">Brand</a> -->

         <!-- logo -->
         <a style="padding: 0px 0px" href="datasets" class="collapse navbar-collapse" >
          <span class="logo pull-left">
            <% if (config.logoTenant) { %>
                <img src="<%=tenant + '/service/v1/files/download?path=logos/logo.png'%>" alt="OpenRecordz" onError="this.src='assets/images/<%= config.logoTenant %>';" style="max-width: 190px;max-height: 50px; object-fit: contain; object-position: center; height: 50px; width: 190px ;">
            <% } %>
          </span>

          <!-- logo name -->
          <span class="name pull-left" style=" font-size: 14px; color: #333; padding: 15px 10px 0 10px;" > <%= tenantName %></span>
         </a>

       <!-- <a class="navbar-brand" style="padding: 0px 0px" href="datasets">
          <div syle=" margin: 30px auto; width: 300px;">
            <div class="col1" style="width: 50%; float: left;">
              <% if (config.logoTenant) { %>
                <img src="<%=tenant + '/service/v1/files/download?path=logos/logo.png'%>" style="max-width: 190px;max-height: 50px; object-fit: contain; object-position: center; height: 50px; width: 190px ;"
                  alt="OpenRecordz" onError="this.src='assets/images/<%= config.logoTenant %>';">
                <% } %>
            </div>
            <div class="col2" style="float: right;">
               <%= tenantName %>
            </div>
          </div>
        </a> -->
        
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Dashboard</a></li> -->
            <li class="_datasets"><a href="datasets">Datasets</a></li>
            <!-- <%=isAdministrator%> -->
            <%if (username=="admin"){%>
            <li class="_users"><a href="users"><%=_label.utenti%></a></li>        
            <%}%>
            <!-- <li class="_api"><a href="http://www.openrecordz.com/documentazione/"><%=_label.documentazione%></a></li> -->    
            <!--  <li class="_notifications"><a href="notifications.php">Notifiche</a></li> -->
            <% if (isAdministrator) {%>
            <!-- 
            <li class="_settings"><a href="settings.php">Impostazioni</a></li>
            <li class="_import"><a href="import.php">Import</a></li>
            <li class="_phones"><a href="phones.php">Numeri Telefono</a></li>
            <li class="_sms"><a href="sms.php">Sms</a></li>
            <li class="_settingsSms"><a href="settingsSms.php">Impostazioni Sms</a></li>
             -->
              <li class="_settings">
                <a href="settings">Impostazioni</a>
              </li>
            <% } %>
         </ul>

          <!-- global search -->
         <form class="navbar-form navbar-left">
            <div class="input-group" style="width:280px">
              <input type="text" class="form-control" placeholder="<%=_label.global_search %>" name="globalSearch" id="globalSearch">
                <div class="input-group-btn">
                  <button id="btnGlobalSearch" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
         </form>

         <ul class="nav navbar-nav navbar-right">
            <!-- add datasets -->
            <li >
              <a style="background-color:#428bca; color:#ffffff; padding:15px; border: 1px solid #428bca; cursor:pointer; display:inline-block;" href="#upsert" id="add_dataset" >
                <span class="glyphicon glyphicon-plus-sign"></span> <%=_label.creaNuovoDataset%>
              </a>
            </li>

            <!-- your apps -->
            <%if (isAuthenticated){%>
            <li class="_dashboard"><a href="<%= dashboardDomain %>/dashboard"><%=_label.leTueApp%></a></li>
            <%}%>

            
            <!-- profile and docs -->
            <%if (isAuthenticated){%>
            <!-- autenticated -->
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %> <span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li class="_api"><a href="http://www.openrecordz.com/documentazione/"><%=_label.documentazione%></a></li> 
                  <!-- <li> <a href="http://<%= tenantName %>.ciaotrip.it/users/<%= username %>" target="_blank">Profilo</a> </li> -->
                  <!-- <li><a href="http://<%= tenantName %>.ciaotrip.it/settings" target="_blank">Impostazioni utente</a></li> -->
                  <li><a href="#logout">Logout</a></li>
               </ul>
            </li>
            <%} else {%>
              <!-- not authenticated -->
              <li class="_login"><a href="#login"><%=_label.accedi%></a></li>
              <li class="_signup"><a href="<%= dashboardDomain %>/dashboard#signup"><%=_label.registrati%></a></li>
            <%}%>
         </ul>

      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container-fluid -->
</nav>