<!-- 
<div class="page-header">
	<h1>Titolo pagina</h1>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
 -->

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<h2>Pannello di Controllo della app "<i><%= tenantName %></i>"</h2>
	<p>Seleziona "Invia Notifica" per inviare delle comunicazioni ai tuoi utenti. In questo modo potrai segnalare ad essi novità sulla tua app quali : nuovi contenuti, eventi, etc.</p>
	<p>Per gestire i contenuti della tua app fai click sulla voce di menu "Contenuti". Potrai aggiungere facilmente nuovi contenuti alla app...</p>
	<p>Visualizza gli utenti della tua app e gestisci le loro informazioni facendo click sul tab "Utenti".</p>
</div>