<!-- Form di ricerca dei contenuti -->
<!-- <div class="jumbotron"> -->
	<!-- <form class="form-horizontal" role="form"> -->
	<form>
		<div class="input-group">
			<input type="text" class="form-control" id="search" name="search" placeholder="inserire il testo da ricercare...">
			<span class="input-group-btn">
				<!-- 
				<button class="btn btn-default" type="button" id="btnSearch">Cerca</button>
				 -->
				<button type="submit" class="btn btn-primary" id="btnSearch" >Cerca</button>
			</span>
		</div><!-- /input-group -->
	</form>
<!-- </div> -->
<br/>

<table id="tableContents" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Immagine</th>
			<th>Id</th>
			<th>Titolo</th>
			<th>Descrizione</th>
			<!-- <th>Categoria</th> -->
			<!-- <th>Actions</th> -->
		</tr>
	</thead>

	<tfoot>
		<tr>
			<th>Immagine</th>
			<th>Id</th>
			<th>Titolo</th>
			<th>Descrizione</th>
			<!-- <th>Categoria</th> -->
			<!-- <th>Actions</th> -->
		</tr>
	</tfoot>
</table>