<!-- Bottone di inserimento nuova categoria -->
<div class="text-right">
	<button type="button" class="btn btn-default" id="btnAdd">
		<span class="glyphicon glyphicon-plus-sign"></span> Crea un nuova categoria
	</button>
</div>
<br/>

<!-- Form di ricerca delle categorie -->
<!-- 
<div class="jumbotron">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">Testo</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="text" name="text" placeholder="inserire il testo da ricercare..." value="">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="selectCategory">Categoria</label>
			<div id="categoriesMenu" class="col-sm-10">
			</div>
			<span class="help-block hidden"></span>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="selectVisibility">Visibilità</label>
			<div id="visibilityMenu" class="col-sm-10">
			</div>
			<span class="help-block hidden"></span>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" id="btnSearch" >Cerca</button>
			</div>
		</div>
	</form>
</div>
<br/>
 -->

<table id="tableCategories" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Immagine</th>
			<!-- <th>Id</th> -->
			<th>Label</th>
			<th>Otype</th>
			<th>Order</th>
			<th>Azioni</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<th>Immagine</th>
			<!-- <th>Id</th> -->
			<th>Label</th>
			<th>Otype</th>
			<th>Order</th>
			<th>Azioni</th>
		</tr>
	</tfoot>
</table>