<!-- Bottone di creazione nuova notifica -->
<div class="text-right">
	<button type="button" class="btn btn-default" id="btnSend">
		<span class="glyphicon glyphicon-plus-sign"></span> Crea una nuova notifica
	</button>
</div>
<br/>


<table id="tableNotifications" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<!-- <th>Id</th> -->
			<th>Messaggio</th>
			<th>Mittente</th>
			<th>Destinatario</th>
			<th>Inviata il</th>
		</tr>
	</thead>

	<tfoot>
		<tr>
			<!-- <th>Id</th> -->
			<th>Messaggio</th>
			<th>Mittente</th>
			<th>Destinatario</th>
			<th>Inviata il</th>
		</tr>
	</tfoot>
</table>