<!-- Bottone di inserimento nuovo cliente -->
<div class="text-right">
	<button type="button" class="btn btn-default" id="btnAdd">
		<span class="glyphicon glyphicon-plus-sign"></span> Crea un nuovo telefono
	</button>
</div>
<br/>
<table id="tablePhones" class="display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Cellulare</th>
			<th>Azioni</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Cellulare</th>
			<th>Azioni</th>
		</tr>
	</tfoot>
</table>