
/* senza questo il footer si posiziona il centro della pagina */ 
html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
      /* Margin bottom by footer height */
    margin-bottom: 80px;
}



/* MATERIAL DESIGN CARD FOR BLOG */
 
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Basics Styles
 */

/*html {
    font-size: 62.5%;
}*/

body {
    background-color: #fafafa;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.6;
    color: #666;
}

a {
    text-decoration: none;
    color: #3498db;
}
    a:hover {
        color: #2980b9;
    }

h2 {
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-size:28px;
}

 /* max-width: 400px;   */
 /* padding-left: 1em;  */
 /* padding-right: 1em; */
.wrapper_index {
    margin-top:15px !important; 
    margin: 50px auto;
    max-width: 850px; 
}
.wrapper {
    margin-top:15px !important; 
    margin: 50px auto;
    max-width: 650px; 
}

/**
 * Helpers
 */
.border-tlr-radius { 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

/* padding-left: 5px; */
/* padding-right: 5px;  */
.shadowDepth1 {
   box-shadow: 
    0 1px 3px rgba(0,0,0, 0.12),
    0 1px 2px rgba(0,0,0, 0.24);
}

/**
 * Card Styles
 */

.card {
    background-color: #fff;
    margin-bottom: 1.6rem;
}

.card__padding {
    padding: 1.6rem;
}
 
.card__image {
    min-height: 100px;
    background-color: #eee;
}

.card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.card__content {
    position: relative;
}

/* card meta 
.card__meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
}
*/

.dataset-origin-blog-content {
    padding-top:5px;
    font-size: 1.3rem;
    color: #999999;
    max-width: 650px;
    margin: 0px auto 0px;
}
.dataset-origin {
    padding-top:5px;
    font-size: 1.3rem;
    color: #999999;
    
}

/* color: #bbb; */
.openrecordzid {
    font-size: 1.5rem;
    margin-left: 1.6rem;
    color: #999999;
}

#card__author-content, small {
    color: #bbb;
}
.card__author-content {
    color: #666666;
    font-size:14px;
}

/* card article */
/* color: #444; */
.card__article a {
    text-decoration: none;
    color: #2daae1;
    transition: all 0.5s ease;
}

.card__article a:hover {
    color: #2980b9;
}

/* card action */
.card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}

/*     
.card__author {}
*/

.card__author img,
.card__author-content {
    display: inline-block;
    vertical-align: middle;
}

.card__author img{
    border-radius: 50%;
    margin-right: 0.6em;
    width:55px;
}

.card__share {
    float: right;
    position: relative;
    margin-top: -42px;
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
.card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
}

.share-toggle {
    z-index: 2;
}
.share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #3498db;
}
    .share-toggle.share-expanded:before {
        content: "\f00d";
    }

.share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow: 
    0 2px 4px rgba(0,0,0, 0.12),
    0 2px 4px rgba(0,0,0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    box-shadow: 
    0 3px 6px rgba(0,0,0, 0.12),
    0 3px 6px rgba(0,0,0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook:hover, {
    background-color: #3b5998; 
}
.twitter {
    background-color: #00abe3; 
}
.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}


.twitter:hover,
.googleplus:hover {
    color: #eee;
}

/* Nome del Dataset in index_blog.php */
.heading {
    font-size: 42px;
    line-height:36px;
    color: #848484;
}

/* Nome del Dataset in blog.php e content.php*/    
.heading_nohome {
    font-size: 36px;
    line-height: 46px;
    color: #848484;
    max-width: 850px;
}

.subheading {
    font-size: 30px;
    line-height:29px;
    color: #848484;
}

.subheading_nohome {
    font-size: 26px;
    line-height:29px;
    color: #848484;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f2f2f2;
    font-size: 0.9em;
}

.footer .text-muted {
    margin-bottom: 0px;
    margin-top: 30px;
}

/* formattazione pulsante Torna su */
.scrollup {
    line-height:50px;
    width: 40px;
    height: 40px;
    position: fixed;
    filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
    bottom: 170px;
    right: 5%;
    display: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: #fafafa;
}

/* PULSANTE NEXT */
.pager, .next {
    margin-right:15%;
}

/* PULSANTE PREVIOUS */
.pager, .previous {
    margin-left:15%;
}

/* linea sotto il title quando non c'è l'img */
hr {
    margin-left: 15px !important;
    margin-right: 15px;
    margin-top: 10px;
}

.lead {
  font-size: 18px;
  font-style: italic;
}

.containerafternav-breadcrumb {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.breadcrumb {
    font-size: 0.9em;
    color: #999999;
    margin-bottom: 0px;
    background-color: #fafafa;
    padding-top: 0px;
}

.containerafternav {
    padding-bottom: 5px;
    padding-top: 5px;
}

.dSname-in-containerafternav {
    margin-top: 25px;
    margin-bottom: 10px;
}

.dSdescription-in-containerafternav{
    margin: 50px auto;
    margin-bottom: 5px;
    margin-top: 15px;
    max-width: 650px; 
}

.dSdescription-in-containerafternav, h4{ 
 line-height:25px;
}

.dSauthor-in-containerafternav {
    color: #999999;
    margin: 50px auto;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 650px; 
}

.dSauthor-in-containerafternav,h5  {
    font-size: 1.3rem;
}

.btn-in-containerafternav{
    margin-top: 15px;
    margin-bottom: 15px !important;
}

.variable-field-icon, i {
    color: #2daae1;
}

.variable-field-icon{
    display: inline-block !important;
    vertical-align: middle !important;

}

.variable-field {
    padding-bottom:5px !important;
}

/*  border-color: #2daae1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
*/
.link-tenant-in-navbar {
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    padding-left:15px;
    background-color:#f2f2f2;
    color: #2daae1;
    font-size: 1.1em;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2daae1;
  color: white;
  text-decoration: none;
}

.navbar-logo {
    padding-top:15px;
    padding-bottom:15px;
}

.navbar-default .navbar-nav > li > a {
    color: #2daae1 ;
}

.center-block {
    max-width: 450px; 
    text-align: center;
}

/* Social button */
/*min-width: 114px;*/
.btn-default {
  font-size: 18px;
  padding: 6px 30px;
  border-color: #ededed;
}

.fa {
  color: #bbb;
}

/* background-color: #f8f8f8; */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  
  border-color: #bbb;
}

/* Button Leggi tutto */
.btn-primary {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #2daae1;
    border: none;
    padding: 8px 15px;
}

/* Button Vai all'elenco dei dataset disponibili */
.btn-primary-errorview {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #2daae1;
    border: none;
    padding: 8px 15px;
    color: #fff;
}

/* Div contiene btn VISUALIZZA IN CONSOLE */
.div-btn-show-console {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

/* Button VISUALIZZA IN CONSOLE */
.btn_show_console {
    border-radius: 0;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);*/
    background-color:#fafafa;
    padding: 4px 8px;
  	color:#2daae1;
   	float:right;
    font-size: 12px;
    border-style: solid;
    border-color: #2daae1;
}
.btn_show_console:hover {
    background-color: #E1F3FC;
    border-color: #bbb;
    color: #bbb;
}

/* Button VISUALIZZA IN CONSOLE IN index_blog.php*/
.div-btn-show-console-inIndexPage {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;    
}

.btn_show_console_inIndexPage {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color:  #fff;
    border: none;
    padding: 4px;
  	color:#2daae1;
    display:block;
    font-size: 16px;
}

.btn_show_console_inIndexPage:hover {
    background-color: #E1F3FC;
    border-color: #bbb;
    color: #bbb;
}

/* Button download CSV*/
.btn-custom {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color:  #fff;
    border: none;
    padding: 8px 55px;
  	color:#2daae1;
}
.btn-custom:hover {
  background-color: #E1F3FC;
  border-color: #bbb;
  color: #bbb;
}

/* Button CREA GRATIS IL TUO PORTALE OPENDATA (ex Visualizza in console) */
.btn-success {
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 11px;
    font-weight: 500;
   
}

.containerafternav-breadcrumb {
   padding-top:15px;
   padding-bottom:15px;
}


/*
 STYLE @ MAX-WIDTH 768px
================================================== */
@media only screen and (max-width : 768px) {

    .dSname-in-containerafternav {
        margin-top: 10px !important;;
    }
    
    /* Ottimizza per il btn CREA GRATIS IL TUO PORTALE OPENDATA:
    sposta in basso il breadcrumbs  */
    .containerafternav-breadcrumb {
        margin-top:45px !important;
    }

    /* btn CREA GRATIS IL TUO PORTALE OPENDATA */
    .navbar-btn {
        position: absolute;
        width: 85%;
        left: 6%;
        /*margin-top:65px !important;*/
        text-align: center;
        margin:0 auto;
    }

    /* Ottimizza per il btn CREA GRATIS IL TUO PORTALE OPENDATA:
    aumenta il padding della NAV BAR  */
    .navbar-fixed-top {
        padding-bottom: 45px;
    }

    h1 {
        font-size: 2em;
    }

    .heading {
        font-size: 2em;
        margin-top:45px;
    }   

     /*Descrizione Dataset (in blog)*/
    .dSdescription-in-containerafternav{
        margin-top:5px !important;
    }   

    .subheading {
        font-size: 1.5em;
    }

    /*Visualizza dato con id...(in content) */
    .subheading_nohome {
        font-size: 1.5em;
        margin-top:10px !important;
    }

    h2 {
        font-size: 1.5em;
    }

    /*Nome Dataset (in blog e content)*/
    .heading_nohome {
        font-size: 2em;
        margin-top:10px !important;
    }

    .metainfo {
        margin-right:35px;
    }

    .scrollup {
        display: none !important;
    }

    /* manda a capo testo nel footer "Costrusci l'opendata della tua smartcyty */ 
    .footer  .fourth_footer_link {
        display: block;        
    }
    
    /* nasconde il punto di separazione dei link nel footer (tra Documentazione e Costruisci l'opendata della tua smartcyty) */
    .sep_footer_link {
        display: none !important;
    }
    .footer .text-muted {
        margin-top: 20px;
    }

/*
 CHIUDE STYLE @ MAX-WIDTH 768px
================================================== */
}

/*
 STYLE @ MAX-WIDTH 479px
================================================== */
@media only screen and (max-width: 479px) {
    h1 {
        font-size: 1.6em;
    }

    .heading {
        font-size:1.6em;
        padding-top:15px;
    }
    /* Social icon */
    .btn-default {
        font-size: 12px !important;
    }

    .btn-primary {
        padding: 4px 8px !important;
        margin-left:-15px;
    }
    .card__author-content {
       font-size:14px;
    }

    /*.dataset-origin {
        font-size: 14px !important;
    }*/
    
    /* Titolo nella Card */
    h2 {
        font-size: 20px;
    }
    
    /* Descrizione nella Card */
    .lead {
        font-size: 16px !important;
    }

    /* Altre informazioni (in content) */
    h3 {
        font-size: 20px;
    }
    /*Web site - email - tel*/
    .variable-field-text{
        font-size:14px;
    }

    /* formattazione tabella in content.php */
    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }


/*
 CHIUDE STYLE @ MAX-WIDTH 479px
================================================== */
}


/*
 STYLE @ MIN-WIDTH 480px
================================================== */
@media only screen and (min-width: 480px) {

    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables tr { 
       width: 100%; 
    }

/*
 CHIUDE STYLE @ MIN-WIDTH 480px
================================================== */      
}


/*
 STYLE @ MAX-WIDTH 368px
================================================== */
@media only screen and (max-width: 368px) {
    .btn-default {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    /*Button Leggi tutto*/
    .btn-primary {
        margin-left:-25px;
    } 

/*
 CHIUDE STYLE @ MAX-WIDTH 368px
================================================== */     
}