<style>
	#map {
		height: 300px; 
		margin-top:10px; 
		margin-bottom:10px
	}
</style>

<h3 class="page-header">Visualizzazione dei contenuti su mappa</h3>

Parametri di ricerca - Testo: <span class="label label-default"><%= text %></span>
 - Categoria: <span class="label label-default"><%= category %></span>
 - Visibilità: <span class="label label-default"><%= state %></span>
 - Creato da: <span class="label label-default"><%= createdby %></span>


<br/><br/>

<div id="map">
	<!-- Contenuto iniettato dalla View -->
</div>
<br/>

<div id="listContents">
	<!-- Contenuto iniettato dalla View -->
</div>
<br/>