<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- 
				<a class="navbar-brand" href="#">Tenant name</a>
			 -->
			<!-- <a class="navbar-brand" href="index">
				<% if (config.logoTenant) { %>
				<img src="assets/images/<%= config.logoTenant %>" alt="openRecordz">
				<% } %>
				<%= tenantName %>
			</a> -->

			<!-- logo -->
			<a style="padding: 0px 0px" href="index" class="collapse navbar-collapse">
				<span class="logo pull-left">
					<% if (config.logoTenant) { %>
						<img src="assets/images/<%= config.logoTenant %>" alt="OpenRecordz" 
						 style="max-width: 190px;max-height: 50px; object-fit: contain; object-position: center; height: 50px; width: 190px ;">
						<% } %>
				</span>
			
				<!-- logo name -->
				<span class="name pull-left" style=" font-size: 14px; color: #333; padding: 15px 10px 0 10px;">
					<%= tenantName %>
				</span>
			</a>



		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<!-- <li class="active"><a href="#">Dashboard</a></li> -->
				<li class="_docs"><a href="http://www.openrecordz.com/documentazione">Documentazione</a></li>
<!--				<li class="_example"><a href="http://www.smart21.it">Esempi</a></li>-->
			</ul>

			<!-- global search -->
			<form class="navbar-form navbar-left">
				<div class="input-group" style="width:280px">
					<input type="text" class="form-control" placeholder="<%=_label.global_search %>" name="globalSearch" id="globalSearch">
					<div class="input-group-btn">
						<button id="btnGlobalSearch" class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
			
			<ul class="nav navbar-nav navbar-right">
				<!-- <li class="active"><a href="#">Home</a></li> -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= username %> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">

<!--						<li><a href="http://<%= tenantName %>.ciaotrip.it/users/<%= username %>" target="_blank">Profilo</a></li>
						<li><a href="http://<%= tenantName %>.ciaotrip.it/settings" target="_blank">Impostazioni utente</a></li>
-->
						<li><a href="#logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>




