<!-- 
<div class="text-right">
	<a href="/docs">Documentazione</a>
	&nbsp;&middot;&nbsp;
	<a href="/downloads">Help</a>
	&nbsp;&middot;&nbsp;
	<a href="http://www.smart21.it/">Smart21.it</a>
</div>
 -->

<!-- <footer class="footer"> -->
<div class="container">
	<p class="text-left text-muted">
		<a href="http://www.openrecordz.com/">openrecordz.com</a>
		&nbsp;&middot;&nbsp;
		<a href="http://www.openrecordz.com/#features">Funzionalità</a>		
		&nbsp;&middot;&nbsp;
		<a href="http://www.openrecordz.com/documentazione">Documentazione</a>	
	</p>

</div>
<!-- </footer> -->
